    <div class="card">
        <div class="card-header ps-5 pt-4 pb-4">
            <h5 class="mb-0" ><i class="fa-solid fa-user-plus me-3" style="color: #76a5af;"></i>Registro de un nuevo paciente</h5>
        </div>

        <div class="card-body p-5">
            <form #f="ngForm">

                <div>
                    <label class="col-sm-2 col-form-label">Nombre </label><br/>
                    <div class="col-sm-10">
                        <input #nombre="ngModel" [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''" type="text" name="nombre" class="form-control" required [(ngModel)]="registroPacienteDTO.nombre" />
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Cédula </label><br/>
                    <div class="col-sm-10">
                        <input #cedula="ngModel" [ngClass]="cedula.invalid && (cedula.dirty || cedula.touched) ? 'is-invalid' : ''" type="text" name="cedula" class="form-control" required [(ngModel)]="registroPacienteDTO.cedula" maxlength="10"/>
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Ciudad </label><br/>
                    
                    <div class="col-sm-10">
                        <input #ciudad="ngModel" [ngClass]="ciudad.invalid && (ciudad.dirty || ciudad.touched) ? 'is-invalid' : ''" type="text" name="ciudad" class="form-control" required [(ngModel)]="registroPacienteDTO.ciudad" />
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Teléfono</label><br/>

                    <div class="col-sm-10">
                        <input #telefono="ngModel" [ngClass]="telefono.invalid && (telefono.dirty || telefono.touched) ? 'is-invalid' : ''" type="text" name="telefono" class="form-control" required [(ngModel)]="registroPacienteDTO.telefono" />
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Fecha de nacimiento </label><br/>

                    <div class="col-sm-10">
                        <input #fechaNacimiento="ngModel" [ngClass]="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched) ? 'is-invalid' : ''" type="date" name="fechaNacimiento" class="form-control" required [(ngModel)]="registroPacienteDTO.fechaNacimiento" />
                    </div>
                </div>
            
                
                <br/>

                <div class="mb-3 row">
                    <label class="col-sm- col-form-label">Foto: </label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control foto" name="foto" (change)="onFileChange($event)" />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" [disabled]="archivos == null" class="btn btn-primary boton-subir" (click)="subirImagen()">
                            <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir Foto
                        </button>
                    </div>
                </div>

             
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">EPS </label><br/>
                    <select name="eps" class="form-group" required [(ngModel)]="registroPacienteDTO.eps" >
                        <option value="" selected disabled> Seleccione una eps </option>
                        <option [value]="item" *ngFor="let item of eps; index as i" >{{item}}</option>
                    </select>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Tipo de sangre </label><br/>
                    <select name="tipoSangre" required class="form-group" [(ngModel)]="registroPacienteDTO.tipoSangre" >
                        <option value="" selected disabled> Seleccione un tipo de sangre </option>
                        <option [value]="item" *ngFor="let item of tipoSangre; index as i" >{{item}}</option>
                    </select> 
                
                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Alergias </label><br/>
                    <div class="col-sm-10"> 
                        <input #alergias="ngModel" [ngClass]="alergias.invalid && (alergias.dirty || alergias.touched) ? 'is-invalid' : ''" type="text" name="alergias" class="form-control" required [(ngModel)]="registroPacienteDTO.alergias" />
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Correo electrónico </label><br/>

                    <div class="col-sm-10"> 
                        <input #correo="ngModel" [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="email" name="correo" class="form-control" required [(ngModel)]="registroPacienteDTO.correo" email />
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Contraseña </label><br/>

                    <div class="col-sm-10"> 
                        <input #contrasenia="ngModel" [ngClass]="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched) ? 'is-invalid' : ''" type="password" name="contrasenia" class="form-control" required [(ngModel)]="registroPacienteDTO.contrasenia" minlength=8/>
                    </div>

                </div>
            
                <br/>
                <div>
                    <label class="col-sm-2 col-form-label">Repetir contraseña </label><br/>

                    <div class="col-sm-10"> 
                        <input #confirmarContrasenia="ngModel" [ngClass]="confirmarContrasenia.invalid && (confirmarContrasenia.dirty || confirmarContrasenia.touched) ? 'is-invalid' : ''" type="password" name="confirmarContrasenia" class="form-control" required [(ngModel)]="registroPacienteDTO.confirmarContrasenia" minlength=8/>
                    </div>

                </div>
            
                <br/>
                <div class="alert alert-danger" role="alert" *ngIf="!sonIguales()">Las contraseñas no coinciden</div>

                <br/>
                <button class="btn btn-success" type="submit" [disabled]="f.invalid || !sonIguales()" (click)="registrar()"> <i class="fa-solid fa-user-plus me-2" style="color: #ffffff;"></i>Registrarse </button>
                <app-alerta [alerta]="alerta"></app-alerta>


            </form>
        </div>
    </div>

    
