<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0" ><i class="fa-solid fa-person-walking-luggage me-3" style="color: #76a5af;"></i>Gestionar disponibilidad</h5>
    </div>

    <div class="card-body p-5">

        <br/>
        <div>
            <label class="col-sm-2 col-form-label">Seleccionar fecha </label><br/>

            <div class="col-sm-10">
                <input  type="date" name="fechaNacimiento" class="form-control" required />
            </div>
        </div>

        <br/>
            <button class="btn btn-success" type="submit" > <i class="fa-solid fa-circle-check me-2" style="color: #ffffff;"></i>Reservar dia </button>

     
    </div>
</div>