<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0" ><i class="fa-solid fa-door-open me-3" style="color: #76a5af;"></i>Bienvenido a la Clínica Sálvese quien pueda</h5>
    </div>

    <div class="card-body p-5">
      <main class="px-3">
        <h1>Bienvenido paciente, <span class="correo">{{correo}}</span> </h1> <br/>
        <p class="lead"> Somos una Institución de carácter privado, prestadora de servicios
          integrales en salud. Nuestro equipo de dedicados profesionales de
          la salud ofrece atención de calidad y calidez a cada paciente.</p>
    
      </main>
    </div>
</div>