
  <div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0" ><i class="fa-solid fa-book-open-reader me-3" style="color: #76a5af;"></i>Read me </h5>
    </div>

    <div class="card-body p-5">
      <main class="px-3">
        <h1>Proyecto final del espacio academico</h1> <br/>
        <p class="lead">Una clínica desea construir una plataforma que le permita llevar control de todos sus procesos internos, por lo tanto requiere que diferentes tipos de usuario puedan interactuar con la misma. Esta plataforma debe contar con Administradores, Médicos y Pacientes. Para los tres tipos de usuarios se requiere su email y contraseña. Adicionalmente para los médicos y pacientes se requiere cédula, nombre completo, teléfono, ciudad de residencia y foto personal. Los médicos deben tener una especialidad y horario de atención, y los pacientes una fecha de nacimiento, alergias, EPS y tipo de sangre. </p>
    
      </main>
    </div>
</div>